.chart {
    -fx-padding: 10px;
}
.chart-title {
    -fx-font-size: 16px;
    -fx-font-family: corbel;
    -fx-font-fill: red;
    }
.chart-legend {
   -fx-background-color:#F5E79D;
   -fx-font-size: 10px;
   -fx-font-family: corbel;
   -fx-font-fill: #B2B1B9;
   -fx-background-insets: 0,1;
   -fx-background-radius: 6,5;
   -fx-padding: 8px;
   }
.bar-legend-symbol {
    -fx-padding: 6px;
    -fx-background-radius: 3px;
    }

.default-color0.chart-bar {
    -fx-bar-fill: #F0C929;
    }
.default-color1.chart-bar {
    -fx-bar-fill: #5EAAA8;
    }
.default-color2.chart-bar {
    -fx-bar-fill: #F05945;
    }
.default-color3.chart-bar {
    -fx-bar-fill: #E2703A;
    }

.data0.chart-bar {
    -fx-background-radius: 5 5 0 0;
}
.data1.chart-bar {
    -fx-background-radius: 5 5 0 0;
}
.data2.chart-bar {
    -fx-background-radius: 5 5 0 0;
}
.data3.chart-bar {
    -fx-background-radius: 5 5 0 0;
}
.data4.chart-bar {
    -fx-background-radius: 5 5 0 0;
}
.data5.chart-bar {
    -fx-background-radius: 5 5 0 0;
}
.data6.chart-bar {
    -fx-background-radius: 5 5 0 0;
}
.data7.chart-bar {
    -fx-background-radius: 5 5 0 0;
}

